@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-@MessageClass" role="alert">
        @Message
    </div>
}

@code {
    [Parameter]
    public string Message { get; set; } = string.Empty;
    [Parameter]
    public string MessageClass { get; set; } = "danger";
}
